.table1,th ,td{
    border: 1px solid black;
    border-collapse: collapse;
}
.table1 th{
    text-transform: uppercase; 
}
 tr:hover{
    color: red;
}
/*Write an external CSS file (style.css) to give the hyperlinks created in colors::after
iii) Red when the link is active
iv) Purple when the link is active and visited*/
a :active{
    color: red;
}
a :active :visited{
    color: purple;
}
.table2,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.H1{
    width: 100%;
    height: 20vh;
    background-color: rgb(149, 148, 148);
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
}
.ul2{
    list-style-type: none;
    display: flex;
    background-color: rgb(240, 238, 238);
    height: 5vh;
    justify-content: center;
    gap: 60px;
    padding-top: 10px;
}
.p1{
    background-color: rgb(210, 208, 208);
    padding: 0;
}
button{
    padding: 2px;
    background-color: 187, 179, 169;
    color: black;
    text-transform: uppercase;
}
/*4.(a)Explain the css syntax
selector {
  property: value;
}
*/